main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.alert-bt-base.is-cream {
    text-decoration: line-through;
}

ion-item.tomato-base {
    --background : tomato;
}

ion-item.cream-base{
    --background: lightgoldenrodyellow;
}